{% extends "base.html" %}
{% block start %}

<h2>Expense Tracker</h2>

<div style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 950px;
    margin-bottom: 15px;">

    <span style="
        color: white;
        font-size: 25px;
        font-weight: bold;">
            Welcome,{{ request.user.username }}
    </span>


    <a href="/logout/">
        <button type="button" class="logout-btn" >Logout</button>
    </a>
</div>
    
    <div class="container">
        <h4>Your Balance</h4>
        <h1 id="Balance">${{profile.balance}}</h1>

        <div class="inc-exp-container">
            <div>
                <h4>Income</h4>
                <p id="money-plus" class="money plus">+${{profile.income}}</p>
            </div>
            <div>
                <h4>Expense</h4>
                <p id="money-minus" class="money minus">-${{profile.expenses}}</p>
            </div>
        </div>

        <form method="GET" class="filter-section">
            <select name="category">
                <option value="">All Categories</option>
                <option value="Food">Food</option>
                <option value="Travel">Travel</option>
                <option value="Shopping">Shopping</option>
                <option value="Education">Education</option>
                <option value="Salary">Salary</option>
                <option value="Other">Other</option>
            </select>
            <button type="submit">Filter</button>
        </form>

        <h3>History</h3>
        <ul id="list" class="list">

            {% for expense in expenses%}
            {% if expense.expense_type == 'Positive' %}
             <li class="plus">
                <div>
                    {{expense.name}} ({{expense.category}})
                </div>
                <div>
                   +${{expense.amount}} 

                   <a href="{% url 'delete_expense' expense.id %}">
                        <button type="button">Delete</button>
                   </a>
                </div>
                </li>

                {% else %}

                <li class="minus">
                    <div>
                        {{expense.name}} ({{expense.category}})
                    </div>
                    <div>
                        -${{expense.amount}} 

                        <a href="{% url 'delete_expense' expense.id %}">
                            <button type="button">Delete</button>
                         </a>
                    </div>
                </li>

            {% endif %}
            {% endfor %}

        </ul>

        <h3>Add New Transaction</h3>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <label for="text">text</label>
                <input type="text" required name="text" id="text" placeholder="Enter text...."/>
            </div>
            <div class="form-control">
                <label for="amount">amount 
                    <br/>(negative - expense, positive - income)</label>
                <input type="number" required name="amount" id="amount" placeholder="Enter amount....">
            </div>

            <div class="form-control">
                <label for="text">Text</label>
                <select name="expense_type" required class="form-control">
                    <option value="Positive">Positive</option>
                     <option value="Negative">Negative</option>
                </select>
            </div>

            <div class="form-control">
                <label>Category</label>
                <select name="category" required>
                    <option value="Food">Food</option>
                    <option value="Travel">Travel</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Education">Education</option>
                    <option value="Salary">Salary</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <button class="btn">Add Transaction</button>
        </form>
    </div>


{% endblock %}